<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario actualización de autores</h1>

    <form method="POST" th:action="@{/editarautoressave/{id}(id=${objcontrolador.id})}" th:object="${objcontrolador}">
        <label for="nombre" >Nombre Y Apellido</label>
        <input type="text" name="nombre" th:field="*{nombre}" id="nombre">
        <br>
        <label for="nacionalidad">Nacionalidad</label>
        <input type="text" name="nacionalidad" th:field="*{nacionalidad}" id="nacionalidad">
        <br>
        <input type="submit" value="Actualizar">
    </form>

    <a href="/autores">Volver</a>
</body>
</html>