<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario actualización de usuarios</h1>

    <form method="POST" th:action="@{/editarusuariossave/{id}(id=${objcontrolador.id})}" th:object="${objcontrolador}">
        <label for="nombre" >Nombre</label>
        <input type="text" name="nombre" th:field="*{nombre}"id="nombre">
        <br>
        <label for="correo">Correo</label>
        <input type="text" name="correo" th:field="*{correo}" id="correo">
        <br>
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" th:field="*{telefono}" id="telefono">
        <br>
        <input type="submit" value="Actualizar">
    </form>

    <a href="/usuarios">Volver</a>
</body>
</html>