<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
</head>
<body>
    <h1>Generos</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="genero:${generos}">
                <td th:text="${genero.id}"></td>
                <td th:text="${genero.nombre}"></td>
                <td><a th:href="@{'/editargeneros/' + ${genero.id}}">Editar</a></td>
                <td><a th:href="@{'/eliminargeneros/' + ${genero.id}}" onclick="return confirm('¿Estás seguro de que quieres eliminar este genero?');">Eliminar</a></td>
            </tr>
        </tbody>
        
        
    </table>

    <a href="/registrargeneros">Nuevo Genero</a>

    
</body>
</html>