<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
</head>
<body>
    <h1>Menú Principal</h1>

    <ul>
        <li><a th:href="@{'/autores'}">Autores</a></li>
        <li><a th:href="@{'/generos'}">Generos</a></li>
        <li><a th:href="@{'/libros'}">Libros</a></li>
        <li><a th:href="@{'/usuarios'}">Usuarios</a></li>
        <li><a th:href="@{'/prestamos'}">Prestamos(Aun no esta listo)</a></li>
    </ul>
    
    
</body>
</html>