<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario registro de autores</h1>

    <form method="POST" th:action="@{/crearautores}" th:object="${objentidad}">
        <label for="nombre" >Nombre Y Apellido</label>
        <input type="text" name="nombre" id="nombre">
        <br>
        <label for="nacionalidad">Nacionalidad</label>
        <input type="text" name="nacionalidad" id="nacionalidad">
        <br>
        <input type="submit" value="Enviar">
    </form>

    <a href="/autores">Volver</a>
</body>
</html>